@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 400px;
  --breakpoint-sm: 520px;
  --breakpoint-smm: 660px;
  --breakpoint-mdd: 940px;
  --breakpoint-lg: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  @apply text-gray-600 dark:text-gray-300 bg-gray-50 dark:bg-black;
}

input {
  @apply rounded-md bg-white text-gray-600 dark:text-gray-200 dark:placeholder-gray-500 border border-gray-300 dark:bg-gray-600 dark:border-gray-600
}

input.monochrome {
  @apply bg-black placeholder:text-gray-500 px-4 py-4 w-75 relative left-0 rounded-md border border-black
}

button {
  @apply items-center text-black bg-gray-100 hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:bg-gray-400
    dark:bg-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:active:bg-gray-900
}

p {
  @apply text-gray-600 dark:text-gray-500
}
/* 
input box: 
bg-white border-gray-300
dark:bg-gray-600

text normal gray-600 strong gray-900 weak gray-400 dark gray-400
 */